<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path("home-banner_zi8jq0", :quality=>"auto")%>)">
  <div>
    <div id="logo-wrapper" class="ml-5 mb-5">
      <h2 id="logo"><i class="fas fa-cocktail"></i> mistercocktail.</h2>
    </div>
    <h3 id="tagline" class="ml-5 mb-5">Store your favourite <br> cocktail recipes.</h3>
    <%= link_to "→ See cocktails", cocktails_path, class: "btn btn-info ml-5" %>
  </div>
</div>
