.my-card {
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.3);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), asset-url("mojito.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.8);
}

.my-card:hover {
  color: rgba(255,255,255,1);
  font-size: 22px;
  text-decoration: none;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), asset-url("mojito.jpg");
}
